# compilation and distribution
__pycache__
_ext
*.pyc
*.so
atss.egg-info/
build/
dist/
.DS_Store

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/datasets
/models
/experiments
/val2017
/test1
t.json

net/Resnet.py